## 1. Import libraries and dataset

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
fpath = r'C:\Users\Mei\City-Bikes'

In [3]:
df_orin = pd.read_excel(os.path.join(fpath,'original_data','citibike.xlsx'))

In [4]:
df_orin.head(5)

,trip_id,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,LnQzQk,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,IL9boN,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,46clGB,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,v7vdFt,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,VGBsb5,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,0

In [5]:
df_orin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  50000 non-null  object
 1   bike_id                  50000 non-null  int64
 2   weekday                  50000 non-null  object
 3   start_hour               50000 non-null  int64
 4   start_time               50000 non-null  datetime64[ns]
 5   start_station_id         50000 non-null  int64
 6   start_station_name       50000 non-null  object
 7   start_station_latitude   50000 non-null  float64
 8   start_station_longitude  50000 non-null  float64
 9   end_time                 50000 non-null  datetime64[ns]
 10  end_station_id           50000 non-null  int64
 11  end_station_name         50000 non-null  object
 12  end_station_latitude     50000 non-null  float64
 13  end_station_longitude    50000 non-null  float64
 14  trip_duration            50000 non-null  int64
 15  subscriber               50000 non-null  object
 16  birth_year               43021 non-null  float64
 17  gender                   50000 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(5)
memory usage: 6.9+ MB

## 2. Data wrapping

In [6]:
df_orin['bike_id'] = df_orin['bike_id'].astype('str')

In [7]:
df_orin['start_station_id'] = df_orin['start_station_id'].astype('str')

In [8]:
df_orin['end_station_id'] = df_orin['end_station_id'].astype('str')

In [9]:
df_orin['gender'] = df_orin['gender'].astype('str')

## 3. Data cleaning

### 3.1 Mixed type check

In [10]:
for col in df_orin.columns.tolist():
    ck = (df_orin[[col]].applymap(type) != df_orin[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_orin[ck]) >0 :
        print(ck)

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

#### No mixed tpyes of data exsiting

### 3.2 Missing records check

In [11]:
df_orin_nan = df_orin.isnull().sum()

In [12]:
df_orin_nan

trip_id                       0
bike_id                       0
weekday                       0
start_hour                    0
start_time                    0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_time                      0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
trip_duration                 0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

#### 1) There are about 14% missing data for variable 'birth_year'.
#### 2) Solution: considering that those missing data are more than 14% and with the string types, I will keep all these NAN records.

### 3.3 Duplicates check

In [13]:
df_duplicate = df_orin[df_orin.duplicated()]

In [14]:
df_duplicate

Empty DataFrame
Columns: [trip_id, bike_id, weekday, start_hour, start_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_time, end_station_id, end_station_name, end_station_latitude, end_station_longitude, trip_duration, subscriber, birth_year, gender]
Index: []

#### No duplicates exsiting

### Export the cleaned dataset

In [16]:
df_orin.to_pickle(os.path.join(fpath,'clean_data','citibike_clean_1.pkl'))